<h1>Hey {{currentUser.first_name}} You are logged in!</h1>
<a href="" ng-click="logOut()">logout</a>
<h1>Doctor's Appointments</h1>

<label>
Search complaints<input type='text' ng-model="search[searchBy]" class="search">
</label> search by
<select ng-model="searchBy">
                    <option value="$">Last Name or complaint</option>
                    <option value="date">date</option>
                    <option value="time">time</option>
                    <option value="complaint">complaint</option>
                </select>
<table>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Patient first</th>
        <th>Patient last</th>
        <th>Complaint</th>
    </tr>
    <tr ng-repeat='appointment in appointments | filter:search | orderBy: "date"'>
        <td>{{appointment.date | date: longDate}}</td>
        <td>{{appointment.time}}</td>
        <td>{{appointment._user.first_name}}</td>
        <td>{{appointment._user.last_name}}</td>
        <td>{{appointment.complaint }}<button ng-if="appointment._user._id === currentUser._id" ng-click="cancelAppointment(appointment._id)">cancel appointment</button></td>
    </tr>
</table>
 {{currentDate | date: longDate}}
<form action="#!/new_appointment">
    <input type="submit" value="Add new Appointment" />
</form>